/* FORMATACAO PARA IMAGEM DE PERFIL */
.avatar{
    vertical-align: middle;
    width: 35px;
    height: 30px;
    border-radius: 50%;
    position: relative;
        bottom: 2px;
}

/* FORMATACOES NAVEGAÇÃO SUPERIOR */
#nav-principal a{
    color: whitesmoke;
}

#nav-principal a:hover{
    color: #1DB954;
}

#nav-principal .nav-item{
    font-weight: 700;
}

/* FORMATACAO BAGROUNDS PAGINA */
body{
    background-color: rgb(0, 0, 0);
}

#banner{
    background-image: url(../images/banner.png);
}

.bg-transparente{
    border-radius: 20px;
    background-color: rgba(11, 11, 11, 0.658);
}

/* FOMRMATACOES SESSÃO PROMO */
#promo{
    color: white;
}